.auth__wrapper {
    background-color: #EEE;
    height: 100%;
    margin: 0 auto;
}

.auth__nav {
    display: flex;
    padding-top: 21px;
    padding-left: 47px;

    padding-right: 47px;
}
.auth__logo {
    width: 160px;
    height: 43px;
    background-color: #5C5EDC;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 5px 7px 9px;
}
.auth__lang {
    width: 46px;
    height: 46px;
    padding: 8px;
    border-radius: 2rem;
    background-color: #2B2B2B;
    font-size: 16px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.auth__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.authBox__container {
   
}
.auth__logIn {
    color: #1A1A1F;
    margin: 28px 62px;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.auth__form {
    margin-top: 28px;
    display: flex;
    height: 487px;
    padding: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    border-radius: var(--size-db, 32px);
    
    background: linear-gradient(0deg, var(--white-40, rgba(255, 255, 255, 0.40)) 0%, var(--white-40, rgba(255, 255, 255, 0.40)) 100%), var(--white-80, rgba(255, 255, 255, 0.80));
    /* BG blur 40 */
    backdrop-filter: blur(20px); 
}
.email {
    border-radius:16px;
    border: 1px solid rgba(28, 28, 28, 0.30);
    width: 416px;
    height: 56px;
    background: rgba(255, 255, 255, 0.80);
    padding: 16px 20px;
    color: #BFBFBF;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300; 
    outline: none;
}
.password {
    border-radius:16px;
    border: 1px solid rgba(28, 28, 28, 0.30);
    width: 416px;
    height: 56px;
    background: rgba(255, 255, 255, 0.80);
    padding: 16px 20px;
    color: #BFBFBF;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300; 
    outline: none;
}
.logIn_btn {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 16px;
    background: #5C5EDC;
    border: none;
    color: #FFF;
    width: 416px;
    height: 61px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}
.forgotPassword {
    color: #5C5EDC;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    border: none;
    background-color: inherit;
    margin-top: -15px;
}
.socials {
    align-self: center;
    color: #7A7A7A;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
}
.socials__logIn {
    display: flex;
    justify-content: center;
    align-self: center;
    column-gap: 10px;
}
.yandexBtn, .googleBtn, .VKbtn {
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.signUp {
    display: flex;
}
.noacc {
    color: #8A8A8A;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;
    margin-left: 80px;
    margin-top: 28px;
}
.signUp {
    color: #5C5EDC;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-top: 28px;

}
.dropdown__btn {
    border-radius:16px;
    border: 1px solid rgba(28, 28, 28, 0.30);
    width: 416px;
    height: 56px;
    background: rgba(255, 255, 255, 0.80);
    padding: 16px 20px;
    outline: none;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.dropdownPlaceholder {
    color: #2B2B2B;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 200; 
    margin-right: auto;
}
.sighnUp__agreement {
    width: 354px;
    color: #C9C9C9;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-top: -20px;
}
.span__agreement {
    color: #5C5EDC;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}